# 1 Assignment 3

In [2]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [3]:
# Configuramos dirección de carpeta GitHub
os.chdir("C:\\Users\\User\\Documents\\GitHub\\Diplomado_PUCP\\Lecture_3")

In [4]:

# Importamos las bases desde directorio
rec_1 = pd.read_spss( r"../_data/endes/2019/REC0111.sav" )
rec_2 = pd.read_spss( r"../_data/endes/2019/RE223132.sav" )
rec_3 = pd.read_spss( r"../_data/endes/2019/RE516171.sav" )

In [5]:
# Se corrió este código dado que tenemos python 3.10
import collections.abc
#hyper needs the four following aliases to be done manually.
collections.Iterable = collections.abc.Iterable
collections.Mapping = collections.abc.Mapping
collections.MutableSet = collections.abc.MutableSet
collections.MutableMapping = collections.abc.MutableMapping
#Now import hyper
import hyper

In [6]:
# Definiendo el label de los values y de las variables
import savReaderWriter as sav
##rec_1
with sav.SavHeaderReader( r"../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()
    value_labels1 = metadata.valueLabels
    var_labels1 = metadata.varLabels

##rec_2
with sav.SavHeaderReader( r"../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata = header.all()
    value_labels2 = metadata.valueLabels
    var_labels2 = metadata.varLabels

##rec_3
with sav.SavHeaderReader( r"../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata = header.all()
    value_labels3 = metadata.valueLabels
    var_labels3 = metadata.varLabels

In [24]:
%whos DataFrame

Variable   Type         Data/Info
---------------------------------
rec1_1     DataFrame                       CASEID<...>[38335 rows x 22 columns]
rec2_1     DataFrame                       CASEID<...>[36922 rows x 25 columns]
rec3_1     DataFrame                       CASEID<...>[33311 rows x 18 columns]
rec_1      DataFrame              ID1            <...>38335 rows x 105 columns]
rec_2      DataFrame              ID1            <...>36922 rows x 176 columns]
rec_3      DataFrame              ID1            <...>[33311 rows x 84 columns]

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [22]:
# Filtramos según columnas requeridas
rec1_1 = rec_1[["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]]
rec2_1 = rec_2[["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]]
rec3_1 = rec_3[["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]]

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [21]:
#Generamos la columna 'year' 
rec1_1.loc['year']=2019

In [22]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,Urbano,No,No,No,No,No,No,Cemento/ladrillo,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,Rural,No,No,No,No,No,No,Pona,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,Rural,No,No,No,No,No,No,Pona,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019
year,2019,2019,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,...,2019,2019,2019,2019,2019,2019,2019,2019,2019.0,2019

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [29]:
#Unimos rec1_1, rec2_1 y rec3_1 manteniendo los valores de todos los dataframes
endes_2019 = rec1_1.merge(rec2_1, how='outer', on='CASEID').merge(rec3_1, how='outer', on='CASEID')
endes_2019.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**